/* HomePage Styles and Animation */

.hero-text {
    margin-top: 8rem;
    text-align: right;
    color: #F27059;
}
.row {
    --bs-gutter-x: 0rem;
} 

h1 {
    animation-delay: .5s;
    letter-spacing: .08em;
    font-size: 4.5em;
    font-weight: 500;
    text-shadow: 3px 2px #EFB7AD;

}
h2 {
    animation-delay: .7s;
    font-size: 3.5em;
        font-weight: 100;


}

.pop-in {
    animation: pop-in .8s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
    opacity: 0;
}

.chevron {
    color: #F27059;
    animation: fade-slide-up .5s 1s ease-out forwards,
                    pulse 2s 3s ease-out infinite;
        opacity: 0;
}

.chevron:hover {
    color: #EFB7AD;
}

@media only screen and (max-width: 576px) {
    .hero-text {
        margin-top: 8rem;
        text-align: center;
    }
    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 3rem;
    }

.custom-squiggle-box {
    /* max-width: 100%;
    height: auto; */
    display: none;
} 
}

@keyframes fade-slide-up {
    0% {
        opacity: 0;
        transform: translateY(4em);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}
@keyframes pulse {
    0% {
        opacity: 1;
        transform: none;
    }
    50% {
        opacity: .8;
        transform: scale(.8);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}
@keyframes pop-in {
    0% {
      opacity: 0;
      transform: translateY(-4rem) scale(.8);
    }
    100% {
      opacity: 1;
      transform: none;
    }
  }