.footer {
    height: 60px;
    background-color:#F4F2ED ;
    margin-top: 60px;
}
i, small {
    color:#F27059;
    width: 18px;
}
i:hover {
    color: #EFB7AD;
}

.contact-section{
    color:#F27059;
    font-weight: bold;  
}

@media only screen and (max-width: 308px) {
.contact-section {
    font-size: 13px;
}
}