
.header {
    height: 50px;
    background-color: #081D5B;
    /* color: #F27059; */
}

.active {
    color: #F27059 !important;
}
.my-brand {
    font-size: 20px;
}
.nav-link {
    color:#F4F2ED ;
}

.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
    color: #F27059;
}
.nav-link:hover {
    color: #EFB7AD;
}

@media only screen and (max-width: 576px) {
    .nav-link {
        background-color: #081D5B;
    }
    
}
