
.header {
    height: 50px;
    background-color: #081D5B;
    /* color: #F27059; */
}
.active {
    color: #F4F2ED !important;
}
.my-brand {
    font-size: 20px;
}
.nav-link {
    color: #F27059;
}

/* .nav-link:visited {
    color: #F27059;
} */

.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
    color: #F4F2ED;
}
.nav-link:hover {
    color: #EFB7AD;
}


