.project-container {
    display:flex;
    flex-wrap: wrap;
    justify-content:space-between;
}
.image-container {
    position: relative;
      width: 275px;
      margin: 5px;
    }
    
.project-image {
        display: block;
        width: 100%;
        height: auto;
        border-radius: 10%;
}
    
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #081D5B;
    border-radius: 10%;

    }
    .image-container:hover .overlay {
    opacity: .85;
    }
.overlay-text {
    color: #F4F2ED;
    font-weight: bold;
    margin-top: 15%;

}
.custom-margin {
    margin-bottom: 70px;
}

.project-icon {
    color: white;

}
 
@media only screen and (max-width: 768px) {
    .project-container {
        justify-content:center;
  }
  .project-name {
    text-align: center;
  }
  /* .image-container:active .overlay {
    opacity: .85;
    } */
}
/* @media (hover: hover) and (pointer: fine) {
  .overlay {
    opacity: 87;
  }
} */
@media (hover:none), (pointer: coarse) {
  .overlay {
    opacity: .85;
  }
}

