

.project-image {
    border-radius: 15px;
    border: 3px solid #081D5B;
}

.projectName {
    text-shadow: 1px 1px #EFB7AD;

}
.custom-margin {
    margin-bottom: 70px;
}

.project-details {
    text-align: end;
}
.project-icon {
    color: #081D5B;
}
.project-icon-row {
    display: flex;
    justify-content: end;
}
 
@media only screen and (max-width: 768px) {
    .project-container {
        justify-content:center;
  }
  .project-name {
    text-align: center;
  }
  .project-details {
    text-align: center;
}
.project-icon-row {
    justify-content: center;
}

}

@media only screen and (max-width: 480px) {
  .overlay {
    opacity: .75;
}

}
